.footer {
    margin: 0;
    background-color: rgb(26, 26, 26);
}

.footer ul{
    display: flex;
}

.footer ul {
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;
}

.footer ul li a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(170, 170, 170);
}

.footer ul li a:hover{
    text-decoration:underline;
}

.footer p{
    display: flex;
    justify-content: center;
    font-size: 12px;
}